.account {
    margin: 0;
    padding: 40px;
    margin-top: 72px;
}

.account-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.account-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.all-bookings {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.booking-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-left: 32px;
    height: 190px;
}

.booking-list img {
    width: 250px;
    height: 190px;
    border: #EEAD77 2px solid;
    border-radius: 10px;
}

.room img {
    width: 200px;
    height: 170px;
    border: 3px solid #EEAD77;
    border-radius: 16px;
    margin-top: 8px;
}

.room {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.description {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 300px;
}

.description p {
    font-size: 14px;
}

.cancle-bttn {
    margin-right: 64px;
    margin-left: auto;
    border-radius: 8px;
    border: 0;
    background-color: #EEAD77;
    font-weight: bold;
    color: white;
    font-size: 14px;
    width: 80%;
    height: 32px;
}

.services {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.services a {
    text-decoration: none;
    color: gray;
}

.services ul {
    list-style: none;
}

.cur-room-description {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: space-between;
}

.cur-room-description p {
    margin: 0;
    margin-top: 8px;
    font-size: 14px !important;
}

.cur-room-description button {
    width: 250px;
    height: 32px;
    background-color: #EEAD77;
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
}

.header-title {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 8px;
}

.cur-services {
    width: 250px;
    height: 350px;
    border: #EEAD77 2px solid;
    border-radius: 10px;
    padding: 16px;
}

.cur-services p {
    font-size: 14px;
}

.order-service {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-top: 32px;
    padding-bottom: 16px;
    margin: 0;
    height: fit-content;
}

.text-description {
    height: 150px;
}

.devider {
    width: 1px;
    margin: 0px 30px;
    height: 300px;
    background-color: black;
}