{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/about_page.css'%}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
{% endblock %}

{% block content %}
  {% include "booking.html" %}
  <div class="about">
      <p class="about-title">
        О нас
      </p>
      <div class="photo">
        <a href="{% url 'gallery' %}">
          <div class="image-wrapper">
            <img id="inside-photo" src="{% static 'img/hotel_inside_photo.jpg'%}">
            <div class="overlay">
              Галерея
            </div>
          </div>
        </a>
        <div class="about-text">
          <p>
            Гостиница <strong>Elist Regency</strong> была основана с мечтой создать не просто место для ночлега, а настоящий уголок уюта, спокойствия и тёплого сервиса в самом сердце Элисты. 
          </p>
          <p>
            Всё началось с семейного проекта: небольшого здания и желания подарить каждому гостю ощущение дома. Со временем Elist Regency выросла в элегантный отель, сочетающий современный комфорт с национальным колоритом Калмыкии.
          </p>
          <p>
            Мы гордимся персональным подходом, просторными номерами, панорамным рестораном, фитнес-центром и уютной атмосферой. Каждый гость — наш друг, а каждая поездка — повод вернуться снова.
          </p>
        </div>
      </div>
    </div>
    {% include "events.html" with embedded=True %}
{% endblock %}
