{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
  <div style="padding: 40px; margin-top: 64px;">
  <h1>{{ bar.get_name_display }}</h1>
  <ul>
    {% for d in dishes %}
      <li>
        <strong>{{ d.name }}</strong> – {{ d.price }} ₽<br>
        {{ d.description }}<br>
        <form method="post" action="{% url 'cart_add' %}">
            {% csrf_token %}
            <input type="hidden" name="dish_id"   value="{{ d.pk }}">
            <input type="hidden" name="quantity"  value="1">
            <input type="hidden" name="next"      value="{{ request.path }}">
            <button type="submit">Добавить в корзину</button>
          </form>
          
      </li>
    {% endfor %}
  </ul>
  <p><a href="{% url 'cart_detail' %}">Перейти в корзину</a></p>
  </div>
{% endblock %}
