{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/rooms.css'%}">
{% endblock %}

{% block content %}
  {% include "header.html" %}
  <div style="margin-top: 72px; padding: 40px;">
    <p style="font-size: 24px; font-weight: bold;">Номера</p>
    <div class="rooms">
      {% for room in rooms %}
        <div class="room-block">
          <img src="{{ room.image_url }}" alt="Номер {{ room.number }}"/>
          <div class="room-info">
            <div class="room-info-text">
                <p class="room-title">
                  {{ room.get_room_type_display }}
                </p>
                <p class="room-description">
                  {{ room.description }}
                </p>
            </div>
            <a href="{% url 'room_detail' room.pk %}">
              <button class="booking-bttn">Забронировать</button>
            </a>
          </div>
        </div>
      {% empty %}
        <p>Пока нет доступных номеров.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
