{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{%endblock%}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>
  <h1>Настройки личного кабинета</h1>
  <form method="post">
      {% csrf_token %}
      <input type="hidden" name="form_type" value="profile" />
      {{ form.as_p }}
      <button type="submit">Сохранить изменения</button>
  </form>
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">Выйти</button>
  </form>
</body>
</html>